<div class='page-header'>
  <h1><%= t('Editing Driver') %>
    <div class='pull-right'>
      <%= link_to drivers_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<%= render 'form' %>
