// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-teste{
	background-color: lime;
	color: black;
	
}

.btn-teste:visited{
	background-color: rgba(0, 0, 0, 0.5);
	color: grey;
}

.btn-teste:hover{
	color: grey;
}