// Place all the styles related to the Travels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search{
	position: relative;
    left: 234px;
    top: -32px;
    width: 36px;
}

.well{
	background-color: whitesmoke;
}