<%%= simple_form_for @<%= singular_table_name %>, wrapper: :horizontal_form do |f| %>
  <%%= f.error_notification %>
<div class="form-horizontal col-sm-offset-1 col-sm-7">
  <div class="panel panel-info">
  <div class="panel-heading ">Table_name</div>
    <div class="panel-body">
      <div class="form-inputs">
        <%- attributes.each do |attribute| -%>
          <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
        <%- end -%>
      </div>

      <div class="form-actions">
          <%%= f.button :submit, class: "btn btn-info" %>
      </div>
    </div>  
  </div>
</div>     
<%% end %>
